label{
    font-size: 30px;
    font-family: monospace;
    color: #094442;

}
input{
    font-size: 30px;
    font-family: monospace;
    color: #389894;
}
body{
    background-color:#389894 ;
    color: #ffffff;
}
.royxat{
    font-size: 30px;
    background-color: #389894;
    border-radius:20px;
    color: #f08686;
    width: 300px;
}
.royxat:hover{
    font-size: 30px;
    background-color: aqua;
    border-radius: 20px;
    color: #ffffff;
    width: 300px;

}
.bugun{
    width: 500px;
    height: 600px;
    background-color: rgb(204, 19, 19);
    border-radius: 10px;
}  
input.parol_uchun{
    width:20px;
    height:20px ;
}